.cell {
    width: 15px;
    height: 15px;
}

.cell:hover {
    outline: 1px solid black;
}

.cell-color-level-1 {
    background-color: #EDEDED;
}

.cell-color-level-2 {
    background-color: #ACD5F2;
}

.cell-color-level-3 {
    background-color: #7FA8C9;
}

.cell-color-level-4 {
    background-color: #527BA0;
}

.cell-color-level-5 {
    background-color: #254E77;
}

.info {
    background-color: black;
    color: white;
    text-align: center;
}